*{
    text-decoration: none;
}
.shop{
    width: 1090px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 15px;
}
.shop h1{
    font-size: 22px;
    font-weight: bold;
}
.shop-list{
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    margin-top: 10px;
}
.shop-list-check{
    display: inline-block;
    float: left;
    width: 134px;
    height: 100%;

    color: #dddddd;
    /*text-indent: 20px;*/
}
.shop-list-check input{
    width: 17px;
    height: 18px;
    margin: 10px 7px 0 15px;
    float:left;
}
.shop-list-check i{
    float: left;
    width: 30px;
    height: 18px;
    margin: 10px 0 0 0;
    font-style: normal;
}
.shop-list-mas{
    display: inline-block;
    float: left;
    width: 422px;
    height: 100%;
    line-height: 36px;
    color: #dddddd;
}
.shop-list-one{
    display: inline-block;
    float: left;
    width: 150px;
    height: 100%;
    line-height: 36px;
    color: #dddddd;
}
.shop-list-s{
    display: inline-block;
    float: left;
    width: 147px;
    height: 100%;
    line-height: 36px;
    color: #dddddd;
}
.shop-list em{
    float: left;
    width: 128px;
    height: 100%;
    line-height: 36px;
    color: #dddddd;
}
.shop-list span{
    float: left;
    width: 107px;
    height: 100%;
    line-height: 36px;
    color: #dddddd;
}
.goods{
    width: 1088px;
    height: 121px;
    border: 1px solid #ddd;
    /*background-color: #fffbf0;*/
    margin-top: 50px;
}
.goods-box{
    float: left;
    width: 525px;
    height: 100%;
}
.goods-box img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    float: left;
}
.goods-box input{
    width: 17px;
    height: 18px;
    margin: 50px 7px 0 15px;
    float:left;
}
.goods-box p {
    float: left;
    margin-top: 25px;
    margin-left: 17px;
    color: #333;

}
.goods-one{
    float: left;
    width: 108px;
    height: 80px;
    text-align: center;
    /*margin-left: 300px;*/
    padding-top: 25px;
    font-weight: bold;
    padding-right: 20px;
}
.goods-lists{
    float: left;
    width: 120px;
    height: 80px;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
}
.left-button{
    width: 22px;
    height: 22px;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #dddddd;
    cursor:pointer;
    float: left;
}
.right-button{
    float: left;
    width: 22px;
    height: 22px;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #dddddd;
    cursor:pointer;
}
.center-text{
    width: 43px;
    height: 22px;
    float: left;
    border-right: none;
    border-left: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.goods-sum{
    float: left;
    width: 108px;
    height: 80px;
    text-align: center;
    /*margin-left: 300px;*/
    padding-top: 25px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 10px;
}
.goods-op{
    float: left;
    width: 85px;
    height: 80px;
    padding: 25px 20px 0 31px;
    cursor:pointer;
}
.goods-op:hover{
    text-decoration:underline;
}
.shop-set{
    width:1088px;
    /*height: 60px;*/
    border:1px solid #ddd;
    background-color: #f8f8f8;
    margin: 0 auto;
    margin-top: 30px;
}
.shop-set span{
    cursor:pointer;
}
.shop-set-box{
    width: 100%;
    height: 40px;
    padding: 10px 0;
}
.shop-set-box input{
    width: 17px;
    height: 18px;
    margin: 12px 7px 0 15px;
    float:left;
}
.shop-set-box span{
    line-height: 40px;
    margin-left: 5px;
}
.shop-set-box-ri{
    float: right;
    width: 585px;
    height: 100%;
    position: relative;
}
.shop-set-box-ri a{
    position: absolute;
    width: 120px;
    height: 61px;
    background-color: #e31436;
    right: 0;
    top:-10px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: white;
}
.shop-set-box-ri a:hover{
    opacity:0.8;
}
.shop-set-box-ri-1{
    text-align: right;
    width: 445px;
    line-height:40px;
    height: 100%;

}
.shop-set-box-ri-1 em{
    font-size: 18px;
    margin: 0 5px;
    color: #e31436;
}
.shop-set-box-ri-1 h6{
    float: right;
}
.shop-set-box-ri a{
    cursor:pointer;
}