.content{
    width:1050px;
    margin:0 auto;
}
.content .imgList{
    overflow: hidden;
}
.content .imgList>ul{
    float:left;
}
.content .imgList>ul li{
    width:200px;
    float:left;
    margin-left:8px;
    margin-top:10px;
    background: #9f9f9f;
    position:relative;
    height:233px;
}
.content .imgList .pages{
    float:left;
    margin:10px 10px 10px 0;
}
.content .imgList .pages li{
    float: left;
    background: orange;
    text-align: center;
    width:70px;
    height:30px;
    line-height:30px;
    cursor:pointer;
    font-weight: bold;
    font-size: 16px;
    margin-left: 16px;
}
.content .imgList .pages li:hover{
    background: darkred;
    color: #fff;
}

.content .imgList>ul li img{
    width:200px;
}
.content .imgList>ul li a>p{
    text-align: center;
    height:20px;
    margin:5px 0;
    color:orange;
    overflow: hidden;
}
.content .imgList>ul li a .cover{
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    top:0;
    background: rgba(0,0,0,0.3);
    display: none;
    color:#000;
    text-align: center;
}
.content .imgList div>ul li:hover .cover{
    display: block;
}
.content .content-bottom{

}
.content .content-bottom a{
    display: inline-block;
    text-align: center;
    margin:65px 0 65px 446px;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 4px;
}
.content-bottom .selfShop{
    width: 100%;
    height:250px;
    background: #D71F45;
}
.content-bottom .selfShop div{
    font-size: 26px;
    color:#fff;
    font-weight: bold;
    float:left;
    margin-left:434px;
    margin-top:86px;
}
.fourConfirm{
    width:100%;
}
.fourConfirm ul{
    float:left;
    margin-left:76px;
    background: #F3F3F3;
}
.fourConfirm ul li{
    float:left;
    width: 300px;
    text-align: center;
    height: 126px;
    vertical-align: middle;
}
.fourConfirm  ul>li:nth-child(0) i{
    display: inline-block;
    width:40px;
    height:40px;
    background: url(../images/header/icon1.png) -750px 0 no-repeat;
}
.fourConfirm ul li div{
    /*margin-top: 60px;*/
}
.fourConfirm ul li div{
    font-size: 18px;
    font-weight:bold;
    color: darkred;
}
footer{
    height: 152px;
    width: 100%;
    background: #000;
    color: #C2C2C2;
    padding-top: 1px;
}
footer div{
    width: 912px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
}
footer div p{
    height:30px;
    line-height: 30px;
}
footer div p a{
    color: #C2C2C2;
}
footer div p.op{
    margin-top: 14px;
}
.firstIcon{
    display: inline-block;
    width:20px;
    height: 20px;
    vertical-align: text-bottom;
    background: url(../images/header/police.png) no-repeat ;
}
.secondIcon{
    display: inline-block;
    width:80px;
    height: 30px;
    background: url(../images/header/police2.png) no-repeat center center/80px 30px;
}
.thirdIcon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/header/police3.gif) no-repeat center center/30px 30px;
}