*{
  margin:0;
  padding:0;
}
li{
  list-style: none;
}
em,i{
  font-style:normal;
}
a{
  text-decoration: none;
  color:#000;
}
.clear:after{
  display: block;
  clear:both;
  content:'';
  height: 0;
}
