		body {
		    background: white;
		}
		button{
	    	width: 80px;
	    	height: 25px;
	    	background-color: #FF4400;
	    	font-size: 14px;
	    	color: white;
	    	border: none;
	    	margin-left: 5px;
	    	margin-top: 40px;
	    	border-radius: 8px;
	    }
	    em{
	    	width:200px ;
	    	height: 30px;
	    	margin-top: 20px;
	    	margin-left: 10px;
	    	font-size: 13px;
	    	color: grey;
	    	text-decoration: none;
	    }
	    .header{
	    	height: 100px;
	    	width: 300px;
	    	font-weight: bold;
	    	text-align: center;
	    	line-height: 120px;
	    	margin-left: 550px;
	    	font-size: 18px;
	    	/*background-color: yellow;*/
	    }
	    .header a{
	    	color: crimson;
        	font-weight: bold;
        	margin-left: 30px;
        	text-decoration: none;
	    }
        .search{
        	height: 100px;
	    	width: 500px;
	    	line-height: 120px;
	    	text-align: center;
	    	margin-left: 850px;
	    	margin-top: -100px;
	    	font-size: 18px;
        	/*background-color: red;*/
        }
        .search a{
        	color: crimson;
        	font-weight: bold;
        	margin-right: 30px;
        	text-decoration: none;
        }
        #search-text{
        	width: 200px;
	    	height: 25px;
        }
        #search-btn{
        	width: 80px;
	    	height: 27px;
	    	background-color: #FF4400;
	    	font-size: 14px;
	    	color: white;
	    	/*border: none;*/
        }
        #oImg{
        	position: absolute;
        	margin-top: 20px;
        	margin-left: 100px;
        }
