            li{
				list-style: none;
			}
			#ODiv{
				width: 100%;
				height: 50px;
			}
			#ODiv ul{
				height: 50px;
				width: 500px;
				float: left;
				margin-left: 800px;
				font-weight: bold;
			}
			#ODiv ul li {
				float: left;
				margin-left: 30px;
				line-height: 50px;
			}
			#ODiv ul li a{
				text-decoration: none;
				font-weight: 200px;
				color: black;
				font-weight: bold;
				font-size: 15px;
			}
			#ODiv ul li a:hover{
				color: red;
			}
			.Lis{
				margin-top: -20px;
			}
			#search-btn{
				width: 50px;
				height: 20px;
				border-radius: 0;
				margin-left: 0px;
				border: 1px solid black;
			}
			.nav{
				width: 100%;
				height: 50px;
				background-color: plum;
			}
			.nav ul {
				margin-left: 130px;
			}
			.nav ul li {
			    float: left;
			    display: inline-block;
			    width: 50px;
		  	    line-height: 50px;
			    margin-left: 50px;
			    text-align: center;
			}
			.nav ul li a{
				text-decoration: none;
				font-size: 18px;
				color: white;
			}
			.nav ul li a:hover{
				color: red;
			}
			.goods {
				width: 100%;
				height: 330px;
			    clear: both;
			}
			.goods ul li {
			    display: block;
			    float: left;
			    width: 200px;
		  	    height: 320px;
		  	    
			    margin-left: 55px;
			    margin-top: 30px;
			    position: relative;
			}
			.goods ul li img:hover{
				border-color: red;
			}
			.goods ul li img { 
			    width: 100%;border: 1px solid purple;
			    height: 62%;
			}
			.goods ul li p{
			    position: absolute;
			    overflow: hidden;
			    font-size: 14px;
			    color: black;
			    margin-top: 10px;
			    margin-left: 10px;
			    font-weight: bold;
			    width: 100%;
			    height: 15px;
			}
		    button{
		    	width: 80px;
		    	height: 25px;
		    	background-color: #FF4400;
		    	font-size: 14px;
		    	color: white;
		    	border: none;
		    	margin-left: 5px;
		    	margin-top: 30px;
		    	border-radius: 8px;
		    }
		    
		    em{
		    	width:200px ;
		    	height: 30px;
		    	margin-top: 10px;
		    	margin-left: 10px;
		    	font-size: 13px;
		    	color: grey;
		    	/*text-decoration: none;*/
		    	
		    }
		    em:hover{
		    	color: darkblue;
		    }
		    h6{
		    	width:100px ;
		    	height: 20px;
		    	margin-top: 10px;
		    	margin-left: 10px;
		    	font-size: 14px;
		    	color: purple;
		    }