*{
    margin:0;
    padding:0;
}
.carousel{
    width:1583px;
    background-size: cover;
    height: 350px;
    margin:50px auto;
    overflow: hidden;
    position:relative;
}
.carousel ul{
    list-style: none;
}
.carousel ul li{
    display:none;
}
.carousel ul li.current{
    display:block;
}
.carousel span{
    position: absolute;
    width:55px;
    height:55px;
    top:130px;
    cursor:pointer;
}

.carousel .circles{
    position: absolute;
    bottom:40px;
    width:200px;
    height:17px;
    left:50%;
    margin-left: -50px;
}
.carousel .circles ol{
    list-style: none;
}
.carousel .circles ol li{
    float:left;
    width:17px;
    height:17px;
    margin-right: 13px;
    background:gold;
    border-radius: 50%;
    cursor:pointer;
}
.carousel .circles ol li.current{
    background:purple;
}