#search_text{
    width: 200px;
    height: 25px;
    position: absolute;
    left:800px;
    top:30px;
}
#osearch {
    width: 60px;
    height: 29px;
    position: absolute;
    left: 1003px;
    top: 30px;
}

