body {
  background: #ccc;
}
.red a {
  color: red;
}


.shop{

    width: 1200px;
    height: 635px;
    margin: 50px auto;

}
.shop li{
    display: inline-block;
    float: left;
    width: 200px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.shop li img{
    width: 197px;
    height: 197px;
}
.shop li img:hover{
    opacity:0.8;
}
.shop li p{
    width: 175px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 10px auto;
}
.shop li a{
    font-size: 12px;
    color: darkorange;
    display: inline-block;
    width: 175px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.shop li a:hover{
    text-decoration:none;
}
.shop li em{
    display: block;
    text-align: left;
    margin: 5px 0 0 5px ;
    color: #e31436;
}
.button{
    /*position: absolute;*/
    /*right: 90px;*/
    /*bottom: -12px;*/
    width: 1000px;
    height: 30px;
    margin: 0 auto;
}
#ButtonPrev{
    color: black;
    display: inline-block;
    float: left;
    width: 140px;
    height: 30px;
    border:1px solid gainsboro;
    background-color: #dddddd;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
}
#ButtonNext{
    color: black;
    display: inline-block;
    float: right;
    width: 140px;
    height: 30px;
    border:1px solid gainsboro;
    background-color: #dddddd;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
}
.button-center{
    float: left;
    overflow: hidden;
    width:690px;
    height: 30px;
}
#ButtonCenter{
    float: left;
    width: 4000px;
    height:30px;
    margin-left: 0;
}
#ButtonCenter span{
    width: 30px;
    height: 30px;
    float: left;
    border:1px solid #666666;
    background-color: #dddddd;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    cursor:pointer;
}
#ButtonCenter span.button-center-span{
    background: firebrick;
}
