* {
  margin: 0;
  padding: 0;
}
.nav ul {
}
.nav ul li {
  float: left;
  display: inline-block;
  width: 50px;
  line-height: 30px;
  background: #ccc;
  margin-left: 10px;
  text-align: center;
}
.goods {
  clear: both;
}
.goods ul li {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.goods ul li img {
  width: 100%;
  height: 100%;
}
.goods ul li p{
  position: absolute;
  bottom: 0px;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  color: coral;
  background-color: rgba(0, 0, 0, .3);
  width: 100%;
  height: 20px;
}
