*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
li {
    list-style: none;
}
em{
    font-style: normal;
}
a{
    text-decoration: none;
}
body{

}
.search-img{
float: right;
margin-right: 257px;
}
.register-big{
    width: 100%;
    background-color:#f8f8f8 ;
}
.register{
    width: 1000px;
    height: 520px;
    margin: 0 auto;
    /*margin-top: 130px;*/
    /*border-radius:20px;*/
    padding-top: 1px;
}
.register-right{
    width: 500px;
    height: 355px;
    float: right;
    margin-top: 80px;
    background-color: white;
    /*margin-top: 130px;*/
    /*border-radius:20px;*/
    padding-top: 1px;
    border: 1px solid #dddddd;
}
.register-right-form{
    width: 350px;
    height: 100%;

}
.register-right-form h2{
    font-size: 18px;
    padding: 27px 40px 10px 40px;
}
.register-us{
    width: 270px;
    height:36px;
    margin: 10px 40px 10px 40px;
    border: 1px solid #ddd;
}
.register-us span{
    width: 34px;
    height: 34px;
    float: left;
    border-right: 1px solid #dddddd;
    margin-top: 1px;
    background: url(../images/12.png) no-repeat center center;
    background-position: 9px 7px;
}
.register-us input{
    width: 180px;
    height: 30px;
    margin-top: 3px;
    padding-left: 10px;
    border: none;
    outline:none;
}
.register-us ::-webkit-input-placeholder{
    color: #ddd;
    font-size: 14px;
}
.register-pa{
    width: 270px;
    height:36px;
    margin: 10px 40px 10px 40px;
    border: 1px solid #ddd;
}
.register-pa span{
    width: 34px;
    height: 34px;
    float: left;
    border-right: 1px solid #dddddd;
    margin-top: 1px;
    background: url(../images/12.png) no-repeat center center;
    background-position: 9px -22px;
}
.register-pa input{
    width: 180px;
    height: 30px;
    margin-top: 3px;
    padding-left: 10px;
    outline:none;
    border: none;
}
.register-pa ::-webkit-input-placeholder{
    color: #ddd;
    font-size: 14px;
}
.register-left{
    width: 400px;
    height: 280px;
    padding-top: 80px;
}

/*.register-us{*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-indent: 290px;*/
    /*margin-top: 150px;*/
    /*font-size: 16px;*/
/*}*/
/*.register-us span{*/
    /*display: none;*/
    /*color:red;*/
/*}*/
/*.register-us input{*/
    /*width: 202px;*/
    /*height: 46px;*/
    /*border:1px solid #ddd;*/
    /*text-indent:10px;*/
/*}*/

/*.register-pa{*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-indent: 290px;*/
    /*font-size: 16px;*/
    /*margin-top: 23px;*/
/*}*/
/*.register-pa input{*/
    /*width: 322px;*/
    /*height: 46px;*/
    /*border:1px solid #ddd;*/
    /*text-indent:10px;*/
/*}*/
/*.register-pa ::-webkit-input-placeholder{*/

    /*color:#ddd;*/
/*}*/
/*.register-pas{*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-indent: 257px;*/
    /*font-size: 16px;*/
    /*margin-top: 23px;*/
/*}*/
/*.register-pas input{*/
    /*width: 322px;*/
    /*height: 46px;*/
    /*border:1px solid #ddd;*/
    /*color: #dddddd;*/
    /*text-indent:10px;*/
/*}*/
.but{
    width: 322px;
    height: 46px;
    background-color: #ca5252;
    text-align: center;
    line-height:46px;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 40px;
    cursor:pointer;
}
